.footer {
  background-color: #000;
  width: 100%;
  height: 350px;
  bottom: 0;
  left: 0;
}

.img {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
}

.line {
  background-color: grey;
  width: 100rem;
  margin-top: 5rem;
}

.copytight {
  font-family: Poppins, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}
