/* <<<<<<< head
======= */

/* :root {
  --footer-color: #3f3d3b;
  --text-font: "Open Sans", sans-serif;
  --text-color-footer: #ffff;
}
>>>>>>> origin/develop
.footer {
  background-color: #3f3d3b;
  height: 700px;
}
.social-media {
  display: flex;
  justify-content: flex-end;
}
.img {
  display: flex;
  align-items: center;
  width: 35rem;
  height: 13rem;
  gap: 2rem;
}
.about-us {
  display: flex;
  margin-top: -7rem;
  height: 20px;
  flex-direction: column;
  width: 300px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding-left: 20rem;
  line-height: 25px;
  text-align: justify;
  font-size: 12px;
}
.about-us p {
  margin-top: 40px;
}
.box {
  width: 50rem;
  margin-left: 12rem;
  display: flex;
  align-items: center;
}
hr {
  width: 100rem;
}
.copyright div {
  display: flex;
  font-family: "Open Sans", sans-serif;
  color: white;
  flex-direction: column-reverse;
  font-size: 12px;
  height: 20px;
} */

/* @media screen and (min-width: 1450px) and (max-width: 1840px) {
  .footer {
    background: red;
  }

  hr {
    margin-left: 6rem;
    width: 70rem;
  }

  .about-us {
    margin-top: -3rem;
  }
}

@media screen and (min-width: 1129px) and (max-width: 1450px) {
  .footer {
    background: blue;
  }

  hr {
    margin-left: 6rem;
    width: 100%;
  }
}

@media screen and (min-width: 1047px) and (max-width: 1127px) {
  .footer {
    background: yellow;
  }

  hr {
    margin-left: 2rem;
    width: 100%;
  }
}

@media screen and (min-width: 790px) and (max-width: 1046px) {
  .footer {
    background: rgb(0 255 242);
  }

  hr {
    margin-left: 2rem;
    width: 50%;
  }

  .box {
    margin-left: -8rem;
  }
} */
