.footer {
  background-color: #3f3d3b;
  height: 700px;
  margin-top: 4rem;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

.img {
  display: flex;
  align-items: center;
  width: 35rem;
  height: 13rem;
  gap: 2rem;
}

.about-us {
  display: flex;
  margin-top: -7rem;
  height: 20px;
  flex-direction: column;
  width: 300px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding-left: 20rem;
  line-height: 25px;
  text-align: justify;
  font-size: 12px;
}

.text {
  margin-top: 40px;
}

.line {
  background-color: grey;
  width: 100rem;
}

.copyright {
  display: flex;
  position: absolute;
  width: 30rem;
  height: 8rem;
  margin-left: 10rem;
  margin-top: 28rem;
}

.copyright-words {
  display: flex;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  color: white;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 12px;
}
