:root {
  --footer-color: #3f3d3b;
  --text-font: "Open Sans", sans-serif;
  --text-color-footer: #ffff;
}

.footer {
  background-color: var(--footer-color);
  height: 700px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

.img {
  width: 35rem;
  height: 13rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-us {
  width: 300px;
  height: 20px;
  display: flex;
  margin-top: -7rem;
  flex-direction: column;
  font-family: var(--text-font);
  color: var(--text-color-footer);
  padding-left: 20rem;
  line-height: 25px;
  text-align: justify;
  font-size: 12px;
}

.text {
  margin-top: 40px;
}

.line {
  background-color: grey;
  width: 70rem;
  margin-left: 15rem;
}

.copyright {
  display: flex;
  position: absolute;
  margin-left: 60px;
  margin-top: 28rem;
}

.copyright-words {
  display: flex;
  position: absolute;
  font-family: var(--text-font);
  color: white;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 12px;
  height: 20px;
}

/* media query footer */

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .footer {
    width: 62rem;
    height: 48rem;
    align-items: center;
  }
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .copyright-words {
    display: flex;
    width: 40rem;
    margin-right: 50rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 1400px) {
  .line {
    width: 30rem;
    margin-left: 8rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .about-us {
    width: 20rem;
    margin-left: -10rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 1024px) {
  .img {
    width: 100%;
    margin-left: 18rem;
    margin-top: 2rem;
    gap: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 12rem;
  }
}
