:root {
  --footer-color: #3f3d3b;
  --text-font: "Open Sans", sans-serif;
}

.footer {
  background-color: var(--footer-color);
  height: 700px;
  margin-top: 4rem;
}

@media screen and (min-width: 249px) and (max-width: 1043px) {
  .footer {
    width: 100%;
    align-items: center;
  }
}

@media screen and (min-width: 249px) and (max-width: 1043px) {
  .copyright-words {
    display: flex;
    width: 20rem;
    height: 50px;
    margin-right: 50rem;
    margin-top: 2px;
    align-items: center;
  }
}

.social-media {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}

.img {
  width: 35rem;
  height: 13rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 249px) and (max-width: 1043px) {
  .img {
    width: 100%;
    margin-left: 18rem;
    margin-top: 2rem;
    gap: 2rem;
  }
}

.about-us {
  width: 300px;
  height: 20px;
  display: flex;
  margin-top: -7rem;
  flex-direction: column;
  font-family: var(--text-font);
  color: white;
  padding-left: 20rem;
  line-height: 25px;
  text-align: justify;
  font-size: 12px;
}

@media screen and (min-width: 249px) and (max-width: 1043px) {
  .about-us {
    width: 50%;
    margin-left: -10rem;
    margin-top: -2px;
  }
}

.text {
  margin-top: 40px;
}

.line {
  background-color: grey;
  width: 70rem;
  margin-left: 15rem;
}

@media screen and (min-width: 249px) and (max-width: 1043px) {
  .line {
    width: 8rem;
  }
}

.copyright {
  display: flex;
  position: absolute;
  margin-left: 60px;
  margin-top: 28rem;
}

.copyright-words {
  display: flex;
  position: absolute;
  font-family: var(--text-font);
  color: white;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 12px;
  height: 20px;
}

@media screen and (min-width: 249px) and (max-width: 1043px) {
  .copyright-words {
    display: flex;
    height: 100px;
    margin-right: 20px;
    margin-top: -8rem;
    gap: 2rem;
  }
}
