#starting-point {
  top: 0;
  position: absolute;
}

.menu {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: brown;
  width: 100%;
}

.space-menu {
  width: 50%;
}

.anchors {
  width: 50%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.anchor {
  color: white;
  text-decoration: none;
}

.logo-link:hover,
.anchor:hover {
  filter: brightness(90%);
  text-decoration: underline;
}

#prueba {
  margin-top: 1000px;
}

.presentation {
  position: relative;
  display: inline-block;
  text-align: center;
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  transform: translate(-40%, -50%);
}

.subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.puppies {
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: -5;
  margin: 0;
}
