:root {
  --primary-color: #f9b225;
  --secondary-color: #ffe194;
  --terciary-color: #d11149;
  --terciary2-color: #c83e4d;
  --brown-color: #3f3d3b;
  --white-color: #fff;
  --black-color: #000;
  --title-font: "Dosis", sans-serif;
  --subtitle-font: "Poppins", sans-serif;
  --text-font: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body,
h1 {
  margin: 0;
  width: 100%;
}

/**  HEADER  **/

.header {
  background-image: url("../assets/images/imgDogs2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}


/* --- Topbar javascript classes --- */
/*.fixed {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 0%);
}

.padding {
  padding-top: 110px;
}*/

.topbar-lower {
  background-color: var(--white-color);
  transition: 1s ease;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.topbar-lower  .kompi-logo{
  content: url("../assets/icons/logo_versioncolor.png");
}

.topbar-lower  .navegation a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--text-font);
    font-size: 20px;
    font-weight: 600;
    transition: color 1s;
}

.topbar-upper {
  background-color: transparent;
  transition: 1s ease;
}

/* --- Section 0 --- */
.section-0 {
  width: 100%;
  z-index: 5;
  position: fixed;
}

.kompi-logo {
  width: 180px;
  transition: content 1s;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
  background-color: transparent;
}

.navegation {
  display: flex;
  gap: 32px;
}

.navegation a {
  color: var(--white-color);
  text-decoration: none;
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 600;
}

.navegation a:hover {
  color: var(--terciary-color);
  transition: color 0.5s;
}

/**  SECTION-1  **/
.section-1 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h1,
p {
  color: var(--white-color);
}

.container h1 {
  font-family: var(--title-font);
  font-size: 90px;
  line-height: 8px;
  margin: 36px;
}

.container p {
  font-family: var(--subtitle-font);
  font-size: 24px;
  line-height: 8px;
}

.link {
  padding-top: 100px;
}

/**  SECTION-2  **/
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.paw-print {
  margin-top: 95px;
  align-self: center;
}

.paw-print img {
  width: 50px;
}

.text-slogan h2 {
  margin-top: 32px;
  text-align: center;
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: 36px;
  line-height: 8px;
}

.text-slogan h3 {
  font-family: var(--text-font);
  color: var(--black-color);
  font-size: 20px;
  text-align: center;
}

.services {
  display: flex;
  margin: 0 10%;
  justify-content: space-around;
}

.services div {
  margin: 2% 5%;
}

.service {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border-radius: 20px;
  transition: transform 0.5s;
  margin: 20px;
  padding: 15px;
}

.img-service {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 50%;
}

.img-section {
  width: 17vw;
  height: 70%;
  object-fit: fill;
}

.service:hover {
  transform: scale(1.05);
}

.service h2 {
  font-family: var(--subtitle-font);
  font-size: 25px;
}

.service p {
  font-family: var(--text-font);
  color: #000;
  font-size: 16px;
  line-height: 20px;
  padding: 0 16px;
}

/* SECTION 3 */

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.background {
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 12%;
  margin-top: 2%;
  width: 30%;
}

.texts h1 {
  margin-top: 30px;
  font-family: var(--title-font);
  color: var(--white-color);
  font-size: 40px;
}

.texts p {
  margin-top: 20px;
  font-family: var(--text-font);
  color: var(--white-color);
  font-size: 25px;
}

.gridimg {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  justify-content: space-around;
  justify-items: center;
  margin: 0 10%;
}

.containerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  margin-top: 70px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.7s, filter 0.6s ease-in-out, border-radius 0.7s;
}

.containerimg img {
  width: auto;
  height: 100%;
}

.zoom {
  transform: scale(1.6);
  border-radius: 15px;
}

.blur {
  filter: blur(4px) brightness(50%);
}

/* SECTION 4 */

/* Cards Carousel */
.section-4 {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.unionsection3 {
  width: 100%;
  height: 130px;
  margin-top: -3px;
}

.text-reviews h2 {
  margin-top: 32px;
  font-family: var(--title-font);
  color: var(--dark-color);
  font-size: 36px;
  padding: 30px;
}

.icon-cards {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;

  /* This is the element that rotates with the animation */

  /* Individual cards */
}

.icon-cards-content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 20s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards-content.step-animation {
  animation: carousel 16s infinite steps(1) forwards;
}

.icon-cards-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
  border-radius: 6px;
  transform-origin: center;
}

.icon-cards-item:nth-child(1) {
  /* background: #fdd94f; */
  background: white;
  transform: rotateY(0) translateZ(35vw);
}

.icon-cards-item:nth-child(2) {
  /* background: #f87949; */
  background: white;
  transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards-item:nth-child(3) {
  /* background: #fbab48; */
  background: white;
  transform: rotateY(240deg) translateZ(35vw);
}

/* Carousel animation */
@keyframes carousel {
  0%,
  17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }

  27.5%,
  45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }

  55%,
  72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }

  82.5%,
  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

/* --- Footer --- */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #3f3d3b;
  height: 38vh;
}

.information {
  display: flex;
  padding-top: 2%;
}

.about-us {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  width: 40%;
  font-family: var(--text-font);
}

.space {
  width: 40%;
}

.rrss {
  filter: invert();
}

.about-us h5 {
  color: var(--white-color);
  font-size: 14px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-right: 15%;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.copyright hr {
  background-color: grey;
  width: 70%;
}

/* --- Buttons --- */

.button {
  display: inline-flex;
  position: relative;
  padding: 15px 50px;
  border-radius: 50px;
  font-family: var(--text-font);
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: var(--primary-color);
  transition: 0.4s ease all;
  overflow: hidden;
}

.button::after {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: 1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  align-self: center;
  content: "";
  background: none;
  transition: 0.4s ease-in-out all;
}

.button:hover::after {
  transform: scale(400);
  background: var(--terciary-color);
}

.button span {
  position: relative;
  z-index: 2;
}

.btnsection2 {
  margin-top: 20px;
}

.btnsection4 {
  margin-top: 150px;
}

/* ----------------- */
