:root {
  --primary-color: #f9b225;
  --secondary-color: #ffe194;
  --terciary-color: #325b72;
  --brown-color: #3f3d3b;
  --white-color: #fff;
  --black-color: #000;
  --title-font: "Dosis", sans-serif;
  --subtitle-font: "Poppins", sans-serif;
  --text-font: "Open Sans", sans-serif;
}

body,
h1 {
  margin: 0;
}

.img {
  background-image: url("https://images.pexels.com/photos/3523317/pexels-photo-3523317.jpeg?cs=srgb&dl=pexels-alotrobo-3523317.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
}

.fijo {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 0%);
}

.padding {
  padding-top: 110px;
}

/**  HEADER  **/
.header {
  width: 100%;
}

.button {
  font-family: var(--title-font);
  padding: 20px 80px;
  border-radius: 35px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: var(--primary-color);
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 70px;
}

.backbar {
  background-color: var(--primary-color);
}

.barra .navegacion {
  display: flex;
  gap: 32px;
}

.barra .navegacion a {
  color: white;
  text-decoration: none;
  font-family: var(--title-font);
  font-size: 30px;
}

.navegacion a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/**  SECTION-1  **/
.section-1 {
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 200px;
}

.contenedor h1,
p {
  color: var(--white-color);
}

.contenedor h1 {
  font-family: var(--title-font);
  font-size: 48px;
}

.contenedor p {
  font-family: var(--subtitle-font);
  font-weight: 400;
  font-size: 20px;
}

.enlace {
  padding-top: 100px;
}

.enlace a:hover {
  background-color: rgb(221 183 113);
}

/**  SECTION-2  **/
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.huella-img {
  margin-top: 100px;
}

.text-slogan h1 {
  margin-top: 60px;
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: 45px;
}

.text-slogan h3 {
  font-family: var(--subtitle-font);
  font-size: 25px;
}

.services {
  display: flex;
  margin: 100px;
}

.services div {
  margin: 70px;
}

.service h2 {
  font-family: var(--subtitle-font);
}

.service p {
  font-family: var(--text-font);
  color: #000;
}
