/**  GLOBALES  **/

body,
h1 {
  margin: 0;
}

.fijo {
  position: fixed;
  top: 0;
  left: 0;
}

.padding {
  margin-top: 110px;
}

/**  HEADER  **/
.header {
  background-color: rgb(194 247 114);
  width: 100%;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.barra .navegacion {
  display: flex;
  gap: 30px;
}

.barra .navegacion a {
  color: white;
  text-decoration: none;
  font-family: Dosis, sans-serif;
  font-size: 30px;
}

.navegacion a:hover {
  color: lightblue;
}

/**  SECTION-1  **/
.section-1 {
  width: 100%;
  height: 650px;
  background-image: url("img/pexels-helena-lopes-2027105.jpg");
  background-size: cover;
  background-position: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 200px;
}

.contenedor h1,
p {
  color: white;
}

.contenedor h1 {
  font-size: 48px;
}

.contenedor p {
  font-size: 20px;
}

.enlace {
  padding-top: 100px;
}

.enlace a {
  padding: 20px;
  border-radius: 5%;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: rgb(240 201 128);
}

.enlace a:hover {
  background-color: rgb(221 183 113);
}

/**  SECTION-2  **/
.section-2 {
  width: 100%;
  height: 1000px;
  background-color: lightcoral;
}
