/**  VARIABLES **/

:root {
  /** Colors **/
  --orange: #f9b225;
  --lightorange: #ffe194;
  --white: #fff;
  --blue: #325b72;
  --grey: #3f3d3b;
  --black: #000;
  --desktop: 748px;

  /** Title Fonts **/
  --title-font: "Dosis";
  --alter-title-font: "Poppins";

  /** Subtitle Fonts **/
  --subtitle-font: "Poppins";
  --alter-subtitle-font: "Dosis";

  /** Body Fonts **/
  --body-font: "Open Sans";
  --alter-body-font: "Lato";
}

.padding {
  padding-top: calc(1 / 6 * var(--desktop));
}

/**  GLOBALES  **/

body,
h1 {
  margin: 0;  /* Delete default margin in body and H1 tags */
}

.header {
  width: 100%;
  height: var(--desktop);
  background-image: url("img/Portadas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 100%;
  height: calc(1 / 6 * var(--desktop));
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fijo {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f9b225;
}

.menu img,
nav {
  padding: 0 40px;
}

.navigation a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--body-font);
  font-size: 20px;
  font-weight: bold;
  padding-right: 40px;
}

.navigation a:last-child {
  padding-right: 0;
}

.title {
  width: 690px;
  height: 160px;
  text-align: center;
  color: var(--white);
  background-color: transparent;
  margin-top: 150px;
}

.title h1 {
  font-family: var(--title-font);
  font-size: 80px;
  font-weight: 800;
}

.title p {
  font-family: var(--subtitle-font);
  font-size: 28px;
  font-weight: medium;
  margin-top: 10px;
}

.header-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-family: var(--body-font);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--orange);
  border-radius: 30px;
  padding: 10px 90px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transition: transform 0.5s;
}

.header-link:hover {
  transform: scale(1.25);
}

.section-1 {
  width: 100%;
  height: var(--desktop);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-1-title {
  width: 100%;
  height: 50%;
  padding-top: 50px;
  text-align: center;
}

.section-1-title img {
  width: 70px;
  height: 95px;
}

.section-1-title h2 {
  font-family: var(--alter-title-font);
  font-size: 45px;
  font-weight: 600;
  color: var(--orange);
}

.section-1-title span {
  font-family: var(--alter-title-font);
  font-size: 45px;
  color: var(--orange);
  font-weight: 900;
}

.section-1-title h3 {
  font-family: var(--body-font);
  font-size: 20px;
  font-weight: 600;
}

.section-1-content {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-1-content div {
  width: 300px;
  padding: 0 30px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  border-radius: 20px;
  transition: transform 0.5s;
}

.section-1-content div:hover {
  transform: scale(1.25);
}

.section-1-content h1 {
  font-family: var(--body-font);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.section-1-content p {
  font-family: var(--body-font);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.section-1-content .servicios {
  /* width: 100%;
  height: 200px; */
}

.section-1 .header-link {
  margin-top: 0;
  margin-bottom: 20px;
}

.section-2 {
  width: 100%;
  height: 600px;
  background-color: #ffe194;
}
